.task-header{
    background-color: aqua;
    height: auto;
    width: 100%;
}
.task-footer{
    display:flex;
    flex-wrap: wrap;
    overflow: auto;
    padding: 40px 40px 20px;
    justify-content:space-between;
    box-sizing: border-box;
    
   }